<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>

    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
  </head>
  <body>
    <div id="qr-reader" style="width: 600px"></div>
    <script type="text/javascript">
      function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code scanned = ${decodedText}`, decodedResult);
      }
      var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", {
        fps: 10,
        qrbox: 250,
      });
      html5QrcodeScanner.render(onScanSuccess);

      let ttid =window.location.href ;
      ttid = ttid.slice(34);



      var txt = undefined;
      const req = new XMLHttpRequest();
      req.onload = function () {
        try{txt = (this.responseText);
            console.log(txt);

          }
        catch(err){
            console.log(err);
            alert("Unable to fetch data!");
        }
      }

      req.open('GET',"http://localhost:8080/barcodedata/`"+ttid,true);
      console.log(ttid);
      req.send();
      req.onerror=function () {
        
      }
    </script>
  </body>
</html>



