<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
    body{
      background: #ddd;
      color: black;
    }</style>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: relative;">
  <div class="container-fluid">
    <a
    class="navbar-brand"
    href="http://localhost:8080/home"
    style="font-family: 'Courier New', monospace; font-weight: bold"
    >MiSpot</a
    >
  </div>
</nav>
    <div id="qr-reader" class="position-absolute top-50 start-50 translate-middle" style="height: 40%;"></div>
    <script type="text/javascript">
      function onScanSuccess(decodedText, decodedResult) {
        if(decodedResult === txt){
          const re = new XMLHttpRequest();
                re.onload = function () {
                  try{txt = (this.responseText);

                }
                catch(err){
                    console.log(err);
                    alert("Unable to fetch data!");
                  }
                }
                re.open('GET',"http://localhost:8080/status/"+ttid,true);
                re.send();
                re.onerror=function () {
                  
                }
                location.replace(prev);
        }
        console.log(`Code scanned = ${decodedText}`, decodedResult);
        if()
      }
      var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", {
        fps: 10,
        qrbox: 150,
      });
      html5QrcodeScanner.render(onScanSuccess);

      let ttid =window.location.href ;
      console.log(ttid);
      ttid = ttid.slice(37);
      console.log(ttid);


      var txt = undefined;
      var prev = undefined;
      const req = new XMLHttpRequest();
      req.onload = function () {
        try{txt = (this.responseText);
          txt = JSON.parse(txt);
          prev = txt.pre;
          txt = txt.ado;
          console.log(txt);

          }
        catch(err){
            console.log(err);
            alert("Unable to fetch data!");
        }
      }

      req.open('GET',"http://localhost:8080/barcodedata/"+ttid,true);
      console.log(ttid);
      req.send();
      req.onerror=function () {
        
      }
    </script>
  </body>
</html>



