<!DOCTYPE html>
<html>

<head>
	<title>
		MISPOT
	</title>
</head>

<style>
body{
			background: #ddd;
			margin: 0px;
		}
form{
	position: absolute;
	left:500px;
	top:200px;
}
button{
	position:absolute;
	left:620px;
	top:280px;
	border-radius: 8px;
	width: 80px;
	height:30px;
	border: 1px solid #008CBA;
	font-weight: bold;
}
.button1:hover{
	background-color:#008CBA;
	color: white;
	
}
.topnav {
	overflow: hidden;
	background-color: #212529;
	height: 50px;

}
.topnav a{
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	position: relative;
	top:13px;
	left:10px;
}
input[type=text] {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}
input[type=password] {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}
label{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}


</style>

<body>
	<div class = "topnav">
		<a>MiSpot</a>
	</div>

	<form  action = "/login" method = 'post' id="users">
		<label for="username">
		USERNAME:
	</label>
		<input type="text"
			name="username"
			id="Username">
	<br>
	<br>
		<label for="password" >
		PASSWORD:
	</label>
		<input type="password"
			name="password">
	</form>

	<br>

	<button class = "buttton button1" onclick="send()">
		LOGIN
	</button>
	<br>
	<br>
	<script type = "text/javascript">
		function send()
		{
			document.getElementById("users").submit(); 
		}


	</script>

</body>

</html>
